.form {
}


.form label {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;
}

.form input, .form textarea {
    margin-top: 5px;
    width: 50vw;
    max-width: 500px;
    background-color: var(--c-cream);
    border: none;
    min-height: 30px;

}

.form input:focus, .form textarea:focus {
    border: none;
}

.form textarea {
    min-height: 100px;
}

.form button {
    background-color: var(--c-grey);
    border: 2px solid var(--c-blue);
    color: var(--c-cream);
    height: 40px;
    width: 100px;
    font-size: 20px;
    transition: all 0.3s;
}

.form button:hover {
    background-color: var(--c-blue);
    color: var(--c-cream);
    transition: all 0.3s;
}

@media only screen and (max-width: 600px) {
    .form {
        justify-content: center;
    }
    .form input, .form textarea {
        width: 60vw;
    }
}

@media only screen and (max-width: 500px) {
    .form input, .form textarea {
        width: 90vw;
        min-width: none;
    }
}