.container {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--c-grey);
}

.imgLogo {
    width: 100%;
    max-width: 100%;
    height: 70vh;
    min-height: 500px;
    image-orientation: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.imgLogo img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;

}

.head {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 255, 0.2);
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), var(--c-grey));
    color: var(--c-cream);
    width: 100%;
    max-width: 100%;
    height: 40vh;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: +3;
}

.title {
    font-size: var(--h1-big);
    display: block;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.title h1 {
    margin: 0;
    padding: 0;
}

.title p {
    font-size: calc(15px + 0.7vw);
}

.title span {
    padding: 0;
    margin: 0;
    height: 10px;
    width: 100px;
    background-color: var(--c-blue);
}